.WordSet {
  flex: 1;
  box-sizing: border-box;
  padding: 10px 20px;
  min-height: 100px;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .WordSet {
    flex: unset;
  }
}

.WordSet-header {
text-align: center;
}

.WordSet-contents {
  display: flex;
  flex-direction: column;
}


.WordSet-word {
  font-size: 1.4rem;
}

.WordSet-percentage {
  font-size: 1.8rem;
  color: #ccc;
}
