.WordSet {
  flex: 1;
  box-sizing: border-box;
  padding: 10px 20px;
  min-height: 100px;
  overflow: auto;
  border: 1px solid #ddd;
}

@media only screen and (max-width: 600px) {
  .WordSet {
    flex: unset;
  }
}

/* .WordSet.positive { */
/*   background: rgba(85, 239, 196, 0.3); */
/* } */
/*  */
/* .WordSet.negative { */
/*   background: rgba(225, 112, 85, 0.3); */
/* } */

.WordSet .container h4 {
  margin: 0;
  padding: 10px;
}

.WordSet .header {
  display: flex;
  padding: 0 20px;
  margin: 20px 10px 10px 5px;
  color: #5a5a5a;
}

.WordSet .contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.word {
  border-radius: 1px;
  padding: 2px 20px;
  margin: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word:hover {
  background-color: #f5f5f5;
}

.word.positive:hover {
  background: rgba(85, 239, 196, 0.3);
}

.word.negative:hover {
  background: rgba(225, 112, 85, 0.3);
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(85, 239, 196, 1);
}
.word.negative > .circle {
  background: rgba(225, 112, 85, 1);
}
.word.positive > .cricle {
  background: rgba(85, 239, 196, 1);
}
