.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Operator Mono', monospace;
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
  margin: 20px 10px 10px 5px;
}

.block {
  max-width: 1000px;
}

.input-wrapper {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.input-wrapper input {
  font-size: 1rem;
  outline: none;
  border: none;
  flex: 1;
  padding: 20px;
  font-family: 'Operator Mono';
  background-color: #f5f5f5;
}
.samples {
  padding: 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.word-sets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.operations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.add-new {
  margin: 10px;
  padding: 7px 14px;
  border-radius: 0;
}
